
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f2f2f2;
  
  }

  h1 {
    text-align: center;
  
  }

  .card {
    background-color: white;
    padding: 10px;
    margin: 20px;
  
  }

  .sidebar {
    background-color: lightgray;
    padding: 10px;
  
  }

  
  a {
    text-decoration: none;
    color: blue;
  
  }
  
  a:hover {
    text-decoration: underline;
  
  }

  table {
    border-collapse: collapse;
    width: 100%;
  
  }
   
  th, td {
    border: 1px solid black;
    padding: 5px;
  
  }